# Azure Data Lake Storage Gen2

AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_CONTAINER=customer-analytics

# Azure Data Factory

ADF_RESOURCE_GROUP=your_resource_group
ADF_FACTORY_NAME=your_data_factory

# Curated Data

RAW_CUSTOMERS_PATH=raw/customers/
RAW_PURCHASES_PATH=raw/purchases/

CURATED_CUSTOMER_SUMMARY_PATH=curated/customer_purchase_summary/
CURATED_PURCHASE_ANALYTICS_PATH=curated/purchase_analytics/

# Power BI

POWER_BI_WORKSPACE_ID=your_workspace_id
POWER_BI_DATASET_ID=your_dataset_id
